<footer id="myFooter" style="position:relative; bottom: 0">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <h5>Get started</h5>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Sign up</a></li>
                  <li><a href="#">Downloads</a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <h5>About us</h5>
              <ul>
                  <li><a href="#">Company Information</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Reviews</a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <h5>Support</h5>
              <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Help desk</a></li>
                  <li><a href="#">Forums</a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <h5>Legal</h5>
              <ul>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy Policy</a></li>
              </ul>
          </div>
      </div>
      
      <iframe id="map-container" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.06369414339!2d77.65075191471709!3d12.967776090858376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13ff8750b1c3%3A0x3616b160660462b4!2sRegnant+Software+Solutions+Private+Limited!5e0!3m2!1sen!2sin!4v1555422635827!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="social-networks">
      <a href="https://twitter.com/login?lang=en" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="https://accounts.google.com/ServiceLogin/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Ftab%3Dwm&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=AddSession" class="google"><i class="fa fa-google-plus"></i></a>
  </div>
  <div class="footer-copyright">
      <p>© 2018 Copyright Text </p>
  </div>
</footer>
