input{
    padding-left: 230px;
    width: 50%;
}
.text-light{
    margin-left:15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right:2%;
}
a{
    color:white;
    margin-left: 2%;
    font-weight: 600;
}
a:hover{
    text-decoration:rgb(238, 233, 233);
}
.space{
 margin-left:15%;
}
